
.container img {
    width: 700px;
    padding: 40px;
    border-radius: 80px;
    margin-left: 300px;
}

.text {
    background: orange;
    padding: 30px;
    float: right;
    margin-right: 300px;
    margin-top: 50px;
    border-radius: 20px;
}

.container1 img {
    width: 700px;
    padding: 40px;
    border-radius: 80px;
    margin-left: 300px;
}
.text1 {
    background: orange;
    font-size: 17px;
    padding: 30px;
    float: right;
    margin-right: 300px;
    margin-top: 50px;
    border-radius: 20px;
}

.container3 img {
    width: 700px;
    padding: 40px;
    border-radius: 80px;
    margin-left: 300px;
}

.text2 {
    background: orange;
    padding: 30px;
    float: right;
    margin-right: 300px;
    margin-top: 50px;
    border-radius: 20px;
}
 .heading {text-align: center;}
 
.heading {

    font-family: 'Rowdies', cursive;
    font-size: larger;
   
}
<<<<<<< HEAD
form  {
    border: 2px solid rgb(48, 31, 31);
    width: 500px;
    padding: 50px;
    margin: 50px;

}
=======

.container1 img {
    width: 600px;
    padding: 20px;
    border-radius: 50px;
}

.text {
    float: right;
    margin-right: 700px;
    margin-top: 100px;

}

.text1 {
    float: right;
    margin-right: 80px;
    margin-top: 100px;

}
.services {
    float: right;
    margin-right: 80px;
    background-color: orange; 
    color: black; 
    padding: 10px; 
    border-radius: 10px; 
    max-width: 300px;
    margin: 20px 0;
}

 .heading {text-align: center;}

>>>>>>> 8ff10602d9001084040f13afe2fcfdadd8c505fb
