
 .heading {text-align: center;}
 
.heading {

    font-family: 'Rowdies', cursive;
    font-size: larger;
   
}

.heading3 {text-align: center;}
form  {
    border: 2px solid rgb(48, 31, 31);
    width: 500px;
    padding: 50px;
    margin: 50px;

}

.container1 img {
    width: 600px;
    padding: 20px;
    border-radius: 50px;
}

.text {
    float: right;
    margin-right: 700px;
    margin-top: 100px;

}

.text1 {
    float: right;
    margin-right: 80px;
    margin-top: 100px;

}
.services {
    float: right;
    margin-right: 80px;
    background-color: orange; 
    color: black; 
    padding: 10px; 
    border-radius: 10px; 
    max-width: 300px;
    margin: 20px 0;
}

 .heading {text-align: center;}

 * {margin: 0;
padding: 0;
box-sizing: border-box;

}

.row { 

    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
 .footer {
    background-color: #24262b;
    padding: 70px 0;
 }
 
 .containerF{

    max-width: 1170px;
    background-color: red;
    margin: auto;
 }

 .footer-col{

    width: 25%;
    padding: 0 15px;
    


 }
